:root {
  --primary: #c2874d;
  --background: #0a0a0a;
  --Secondary: #000000;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
  min-height: 3000px;
}

.image-container {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
  right: 1995px;
  top: 80px;
}

.image-rossi {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  left: 450px;
  bottom: 1625px;
}

.berita-gunungsalak {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
  left: 450px;
  bottom: 2485px;
}

.berita-gencatansenjata {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
  left: 790px;
  bottom: 2870px;
}

.berita-rsindonesia {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  left: 1130px;
  bottom: 3255px;
}

.iklan {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
  left: 1567px;
  bottom: 3918px;
}

.red-bullet-rossi {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  bottom: 1946px;
  left: 925px;
}

.red-bullet-rossi::before {
  content: "\2022";
  color: red;
  font-size: 1.2em;
  margin-right: 5px;
}

.isi-gunungsalak {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 10px; /* Adjust the space between items */
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  font-size: 13px;
  position: relative;
  bottom: 2490px;
  left: 385px;
  width: 300px;
}

.isi-gunungsalak::before {
  content: "\2022";
  color: red;
  font-size: 1.2em;
  margin-right: 5px;
}

.isi-gencatan {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 10px; /* Adjust the space between items */
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  font-size: 13px;
  position: relative;
  bottom: 2864px;
  left: 723px;
  width: 300px;
}

.isi-gencatan::before {
  content: "\2022";
  color: red;
  font-size: 1.2em;
  margin-right: 5px;
}

.isi-rsindo {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 10px; /* Adjust the space between items */
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  font-size: 13px;
  position: relative;
  bottom: 3250px;
  left: 1063px;
  width: 300px;
}

.isi-rsindo::before {
  content: "\2022";
  color: red;
  font-size: 1.2em;
  margin-right: 5px;
}

.site-name {
  font-size: 28px;
  color: red;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  right: 40px;
  top: 12px;
}

.site-name span {
  color: var(--Secondary);
}

.additional-text a {
  margin-left: 10px;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  position: relative;
  left: 100px;
  bottom: 2px;
}

.feather-icon {
  color: rgb(78, 78, 78);
  position: relative;
  left: 882px;
  bottom: 30px;
}

#pencarian {
  margin-left: 5%;
  height: 50px;
  width: 20%;
  background: rgb(255, 255, 255);
  float: left;
}

#pencarian input {
  width: 80%; /* Adjust this value as needed */
  height: 80%;
  padding: 5px;
  margin: 12 0; /* Adjust this value as needed */
}

.headline-breaking a {
  font-size: 25px; /* Adjust the font size as desired */
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  color: #000000; /* Change the color as desired */
  text-align: center; /* Adjust the text alignment as desired */
  position: relative;
  left: 32px;
  bottom: 150px;
}

.headline-breaking a br {
  left: 100px;
}

.text-reminder a {
  font-size: 20px; /* Adjust the font size as desired */
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  color: #000000; /* Change the color as desired */
  text-align: center; /* Adjust the text alignment as desired */
  position: relative;
  left: 985px;
  bottom: 178px;
}

.jam-breaking a {
  font-size: 12px; /* Adjust the font size as desired */
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  color: #ff3b3b; /* Change the color as desired */
  text-align: center; /* Adjust the text alignment as desired */
  position: relative;
  left: 33px;
  bottom: 205px;
  display: inline-block;
  background-color: #ff3030; /* Set the background color of the box */
  padding: 3px; /* Adjust the padding as needed */
  border: 1px solid #ff2c2c; /* Set the border color and thickness */
  border-radius: 20px; /* Optional: add rounded corners */
  color: #ffffff; /* Set the text color */
  text-decoration: none; /* Remove underline from the link */
}

.jam-reminder a {
  font-size: 12px; /* Adjust the font size as desired */
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  color: #ff3b3b; /* Change the color as desired */
  text-align: center; /* Adjust the text alignment as desired */
  position: relative;
  left: 1050px;
  bottom: 231px;
  display: inline-block;
  background-color: #ff3030; /* Set the background color of the box */
  padding: 3px; /* Adjust the padding as needed */
  border: 1px solid #ff2c2c; /* Set the border color and thickness */
  border-radius: 20px; /* Optional: add rounded corners */
  color: #ffffff; /* Set the text color */
  text-decoration: none; /* Remove underline from the link */
}

.latest-news a {
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  position: relative;
  right: 252px;
  bottom: 150px;
  border-top: 4px solid #333; /* Set the top border color and thickness */
  padding: 5px; /* Adjust the padding as needed */
  display: inline-block;
  text-decoration: none; /* Remove underline from the link */
  color: #000000; /* Set the text color */
  width: 300px;
}

.resmikan-spklu a {
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  position: relative;
  left: 15px;
  bottom: 1190px;
  border-bottom: 1px solid #333; /* Set the top border color and thickness */
  padding: 5px; /* Adjust the padding as needed */
  display: inline-block;
  text-decoration: none; /* Remove underline from the link */
  color: #000000; /* Set the text color */
  width: 300px;
}

.bareskrim-tegaskan a {
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  position: relative;
  left: 15px;
  bottom: 1185px;
  border-bottom: 1px solid #333; /* Set the top border color and thickness */
  padding: 5px; /* Adjust the padding as needed */
  display: inline-block;
  text-decoration: none; /* Remove underline from the link */
  color: #000000; /* Set the text color */
  width: 300px;
}

.tangkal-berita a {
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  position: relative;
  left: 15px;
  bottom: 1180px;
  border-bottom: 1px solid #333; /* Set the top border color and thickness */
  padding: 5px; /* Adjust the padding as needed */
  display: inline-block;
  text-decoration: none; /* Remove underline from the link */
  color: #000000; /* Set the text color */
  width: 300px;
}

.berita-barca a {
  font-family: "Poppins", sans-serif; /* Change the font family as desired */
  font-weight: 600;
  position: relative;
  left: 15px;
  bottom: 1175px;
  border-bottom: 1px solid #333; /* Set the top border color and thickness */
  padding: 5px; /* Adjust the padding as needed */
  display: inline-block;
  text-decoration: none; /* Remove underline from the link */
  color: #000000; /* Set the text color */
  width: 300px;
}

.berita-fastandfurious a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  left: 15px;
  bottom: 1170px;
  border-bottom: 1px solid #333;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  width: 300px;
}

.headline-rossi a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  position: relative;
  left: 980px;
  bottom: 1934px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  width: 400px;
}

.headline-gunungsalak a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  left: 445px;
  bottom: 2475px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  width: 300px;
}

.headline-gencatan a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  left: 784px;
  bottom: 2860px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  width: 300px;
}

.headline-rsindo a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  left: 1123px;
  bottom: 3245px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  width: 300px;
}

.footer-merah a {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  position: relative;
  left: 710px;
  color: #ffffff;
  bottom: 3130px;
  letter-spacing: 1px;
  width: 600px;
  font-family: "Poppins";
  color: #ffffff;
  padding: 5px;
  display: inline;
}

#nav {
  height: 50px;
  width: 100%;
  background: rgb(211, 0, 0);
  float: left;
  color: white;
  text-align: left;
  line-height: 50px;
  font-size: 1.5rem;
  font-family: "Poppins";
  letter-spacing: 1px;
}

#logo {
  height: 170px;
  width: 1219px;
  background: rgb(255, 255, 255);
  float: left;
  border-bottom: 0.13rem solid var(--Secondary);
  border-right: 0.13rem solid var(--Secondary);
  border-left: 0.13rem solid var(--Secondary);
}

#header {
  height: 150px;
  width: 34%;
  background: rgb(255, 255, 255);
  float: left;
  padding: 10px;
  border-bottom: 0.13rem solid var(--Secondary);
  border-right: 0.13rem solid var(--Secondary);
}

#berital {
  position: relative;
  top: 800px;
  margin-bottom: 10px;
  margin-right: 20px;
  height: 250px;
  width: 250px;
  background: rgb(255, 255, 255);
  float: left;
  clear: both;
}

#berita2 {
  position: relative;
  top: 800px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 260px;
  margin-top: -260px;
  height: 250px;
  width: 250px;
  background: rgb(255, 255, 255);
  float: left;
  clear: both;
}

#berita3 {
  position: relative;
  top: 800px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 520px;
  margin-top: -260px;
  height: 250px;
  width: 250px;
  background: rgb(255, 255, 255);
  float: left;
  clear: both;
}

#berita4 {
  position: relative;
  top: 800px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 780px;
  margin-top: -260px;
  height: 250px;
  width: 250px;
  background: rgb(255, 255, 255);
  float: left;
  clear: both;
}

#login {
  position: relative;
  top: 40px;
  margin-bottom: 10px;
  margin-left: 1687px;
  margin-top: -260px;
  height: 200px;
  width: 200px;
  background: rgb(255, 255, 255);
  float: left;
}

#footer {
  position: relative;
  bottom: 270px;
  height: 150px;
  width: 100%;
  background: rgb(179, 0, 0);
  float: left;
  border-top: 1px solid rgb(179, 0%, 0%);
  padding: 2rem 0;
  margin-top: 50rem;
}

.vertical-line {
  border-left: 1px solid #333;
  height: 600px;
  position: relative;
  left: 404px;
  bottom: 2284px;
}

.vertical-line:before {
  content: "";
  display: block;
  border-left: 1.5px solid #333; /* Set the color and thickness of the vertical line */
  height: 100%;
}

.horizontal-line {
  border-left: 1.5px solid #333; /* Set the color of the vertical line */
  width: 80%;
  position: relative;
  left: 449px;
  bottom: 2535px;
}

.horizontal-line::before {
  content: "";
  display: block;
  border-bottom: 2px solid #333; /* Set the color and thickness of the horizontal line */
  width: 80%;
  height: 0; /* Set the height of the line */
}

/* Media Query for larger screens */
@media only screen and (min-width: 768px) {
}
